*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    color: rgb(255, 255, 255);

    background-color: rgb(238, 133, 64);
}
.navbar-ul {
    justify-content: end;
    display: flex;
    list-style-type: none;
    font-size: 30px;
    gap: 40px;
    margin-top: 50px;
    margin-right: 70px;
}
.navbar-ul a {
    text-decoration: none;
}
.contact {
    text-align: center;
    margin-top: 200px;
    font-size: 40px;
}
.text-contact {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
.isi-contact {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
.parent-email {

}
.email {
    text-align: center;
    font-size: 40px;
    border: 1px solid white;
    justify-content: center;
    margin: 10% 20% 10% 20%;
}